<template name="home" class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magni voluptatibus nam, beatae dignissimos sequi est commodi ut, qui necessitatibus ullam quia explicabo quasi error? Incidunt odio maiores explicabo? Voluptas!</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="container">
        <div class="row col-lg-4">
            <h2>Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nobis tenetur voluptas, vitae dicta ut, reprehenderit eveniet quisquam, iure totam excepturi expedita assumenda et unde animi placeat eum deleniti ducimus.</p>
            <p><a href="" class="btn btn-default">View details</a></p>
        </div>
        <div class="row col-lg-4">
            <h2>Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consequuntur, suscipit distinctio. Consectetur ipsa praesentium officiis, iusto modi tenetur harum tempore odit velit, blanditiis enim accusamus quibusdam amet similique maiores!</p>
            <p><a href="" class="btn btn-default">View details</a></p>
        </div>
        <div class="row col-lg-4">
            <h2>Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eos, dignissimos omnis. Facilis porro ut explicabo ipsum necessitatibus cum impedit, placeat recusandae pariatur sint soluta asperiores eum consequuntur aspernatur qui.</p>
            <p><a href="" class="btn btn-default">View details</a></p>
        </div>
    </div>
</template>
