<template name="about">
    <div class="jumbotron">
        <div class="container">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea esse odio illo facere natus pariatur nemo, accusamus rem totam obcaecati commodi. Adipisci ab, est deserunt dolores at illum cumque.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1>Meet the Team</h1>
            </div>
        </div>
    </div>
</template>
